USE [master]
GO
/****** Object:  Database [ExpanceDB]    Script Date: 11-01-2023 11:13:20 ******/
CREATE DATABASE [ExpanceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExpanceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExpanceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExpanceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExpanceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExpanceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExpanceDB]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11-01-2023 11:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[catid] [int] IDENTITY(1,1) NOT NULL,
	[catname] [varchar](50) NOT NULL,
	[catexplim] [int] NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[catid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expance]    Script Date: 11-01-2023 11:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expance](
	[expid] [int] IDENTITY(1,1) NOT NULL,
	[exptitle] [varchar](50) NOT NULL,
	[expdescription] [varchar](50) NOT NULL,
	[expcategory] [varchar](50) NOT NULL,
	[expamount] [int] NOT NULL,
	[catid] [int] NOT NULL,
	[expdatetime] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_expance] PRIMARY KEY CLUSTERED 
(
	[expid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[totalexpance]    Script Date: 11-01-2023 11:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[totalexpance](
	[totexpid] [int] IDENTITY(1,1) NOT NULL,
	[totexp] [int] NOT NULL,
 CONSTRAINT [PK_totalexpance] PRIMARY KEY CLUSTERED 
(
	[totexpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[expance]  WITH CHECK ADD FOREIGN KEY([catid])
REFERENCES [dbo].[category] ([catid])
GO
USE [master]
GO
